
/* mise en page globale */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  min-width: 480px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

header, main, footer {
  margin: 0 auto;
  width: 1300px;
}

h2 {
  font-size: 100%;
  margin-bottom: 1em;
  text-decoration: underline #dfdfdf 1px;
}

p {
  font-size: 80%;
  text-justify: auto;
  line-height: 1.5em;
  text-align: justify;
}

section {
  margin-right: 350px;
  width: auto;
  padding: 2em 0;
}

main {
  position: relative;
}

/* mise en page de l'entête */

header {
  background-color: black;
  color: white;

  position: relative;
}

header > nav > ul > li {
  display: inline-block;
}

header > nav > ul > li > a {
  color: white;
  text-decoration: none;
}

header > nav > ul > li > a:visited {
  color: white;
  text-decoration: none;
}

/* mise en page de la section Pop/Rock */

section:nth-child(1) {

}

/* mise en page de la section Pop/Rock Artists Highlights */

section:nth-child(2) {

  background-color: white;
  border: 1px solid #dfdfdf;
  margin: 2em 350px 2em 0;
  padding: 2em;

}

section:nth-child(2) > h2{
  width: 100%;
}

section:nth-child(2) > article{
  display: inline-block;
}

section:nth-child(2) > article > p {
  display: none;
}

section:nth-child(2) > p > a {
  display: none;
}

/* mise en page de la section Pop/Rock Song Highlights */

section:nth-child(3) {
  background-color: white;
  border: 1px solid #dfdfdf;
  margin: 2em 350px 2em 0;
  padding: 2em;
}

section:nth-child(3) {
  background-color: white;
  border: 1px solid #dfdfdf;
  margin: 2em 350px 2em 0;
  padding: 2em;
}

/* mise en page de l'aside Recent Pop/Rock Releases */

aside {
  position: absolute;
  width: 300px;
  top: 0px;
  right: 0px;
  border: solid 1px #dfdfdf;
  background-color: white;

  padding: 2em;
  margin: 1em 0;
}

/* mise en page du footer */

footer {
  position: relative;
  bottom: 0;

  margin: 0 auto;
  padding: 2em 0;

  background-color: black;
  color: white;
}

footer > ul  {
  
}

footer > ul > li {
  display: inline-block;
}

footer > ul > li > a {
  color: white;
  text-decoration: none;
}

footer > ul > li > a:visited {
  color: white;
  text-decoration: none;

}

/* règles de mise en page pour rendre le site responsive */

